.App {
  /* These settings are used to create the sticky footer */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* Used to create a sticky footer */
.wrapper {
  flex: 1;
}
