footer {
  height: 3em;
  line-height: 3em;
  background-color: #222;
  color: #ececec;
}

footer p {
  vertical-align: middle;
}

footer a {
  color: rgb(128, 128, 240);
}

footer a:visited {
  color: rgb(186, 97, 249);
}
