.color-text {
  font-size: 2em;
  vertical-align: middle;
  -webkit-transition: color 0.75s ease;
  transition: color 0.75s ease;
}

.color-box {
  margin: 0 auto;
  margin-top: 20px;
  background-color: #ebebeb;
  border-radius: 30px;
  width: 50%;
  line-height: 10em; /* Used to vertically center the text */
  height: 10em;
  -webkit-transition: background-color 0.75s;
  transition: background-color 0.75s;
}
